html{
	width: 960px; 
	font-family: Arvo;
	margin-left: auto;
	margin-right: auto;
}

body{
	width: 960px;
}

/* -------- header ---------*/
#header #topNav ul{
	padding-left: 0px;
}

#header #topNav ul li{ 
	font-size: 9pt;
	color: #cccccc;
	list-style-type: none;
	display: inline;
}
	
#header i{
	color: black;
	font-size: 16px;
}
	
#user{
	float: right;
}


#sections{
	padding-right: 15px;
}
	
#header #title{
	font-size: 36pt;
	font-weight: bold;
	color: #333333;
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	padding-bottom: 10px;
	text-align: center;
	line-height: 0px;
   
	text-shadow: 1px 0 #333333;
	letter-spacing:2px;
	font-weight:bold;
}

#header #date{
	vertical-align: text-top;
	font-size: 14px;
	color: #cccccc;
	font-weight: normal;
	line-height: normal;
}

/*-------- categories -----------*/
.categories{
	font-size: 19px;
	color: #333333;
	text-decoration: none;
	text-align: center;
}

.categories a{
	text-decoration: none;
	color: #333333;
	padding: 0px;
	margin: 0px;
}

.categories ul{
	padding-left: 0px;
	list-style-type: none;
}

.categories li {
	display: inline;
	padding-left: 10px;
	padding-right:10px;
}

/*-------- all articles -------*/
.article {
	padding: 0px;
	margin: 0px;
	padding: 10px;
	padding-left: 0px;
	padding-top: 0px;
}

/*------------ main ------------*/

.banner {
	background-color: #cccccc;
	padding: 10px;
	margin-bottom: 20px;
	height: 60px;
	-webkit-transition:1s;
	-moz-transition:1s;
	overflow: hidden;
}

#banner.banner.bannerClicked {
	height: 120px;
}

#cta{
	color: white;
	text-align: right;
}

#ctaUP{
	color: white;
	text-align: right;
}

#banner-id {
	height:inherit;
}

#bannerText{
	text-align: center;
	line-height: 0;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

/*-------Aside Section -------*/
aside {
	width: 192px;
	float: left;
}

aside article p:first-of-type {
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	line-height: 20px;
	color: #333333;
	margin: 0px;

	text-shadow: 1px 0 #333333;
	letter-spacing:2px;
	font-weight:bold;
}

aside article:first-of-type {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
}


/*--------Main Section--------*/

#mainSection{
	width: 384px;
	float: left;
}

.vid {
	background-color: black;
	color: white;
	text-align: center;
	height: 200px;
	width: inherit;
}

.vid p {
	margin: auto;
	line-height: 200px;
}

#mainSection article p:first-of-type {
	text-shadow: 1px 0 #333333;
	letter-spacing:2px;
	font-weight:bold;
}

/*--- test article first paragraph ---*/
#mainSection article p:first-of-type{
	font-style: italic;
}

#mainSection article p span:first-of-type {
	font-weight: bold;
}

/*------ Opinions -----*/
#rightSection{
	width: 384px;
	float: right;
	
}

#OP_title {
	font-style: italic;
	font-size: 22px;
	color: #333333;
	text-align: center;
	margin: 0px;
}

.artLocation {
	font-weight: bolder;
	text-transform: uppercase;
}

#rightSection article {
	width: 44%;
	float:left;
	padding: 10px;
}

#rightSection span {
	font-weight: bold;
	font-size: 16px;
	color: #333333;
}

#rightSection span:first-of-type {
	font-weight: bolder;
}

#rightSection span:nth-of-type(2) {
	font-size: 14px;
	color: #cccccc;
	vertical-align: text-bottom;
}

#travelName {
	text-shadow: 1px 0 #333333;
	letter-spacing:2px;
	font-weight:bold;
}

#travel p:first-of-type {
	text-shadow: 1px 0 #333333;
	letter-spacing:2px;
	font-weight:bold;
}

/*-------test button-------*/
.selected {
	padding-top: 30px;
	padding-bottom: 30px;
}

#extend {
	width: inherit;
	height: 80px;
	background-color: #cccccc;
}

#banner a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: white;
}

/*-------- Content ----------*/

#categoryMainSection{
	width: 60%;
	border-right: 1px solid #cccccc;
	float: left;
}

#categoryMainSection ul{
	padding-left: 0px;
}

#categoryMainSection article{
	font-size: 13px;
	line-height: 15px;
	color: #333333;
	padding-right: 20px;
}

#categoryMainSection article p:first-of-type{
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
	line-height: 28px;
}

#categoryAsideSection ul{
	padding-left: 20px;
}

#categoryAsideSection{
	float: left;
	width: 39%;
}

#categoryAsideSection article{
	font-size: 12px;
	line-height: 15px;
	color: #666666;
}

#categoryAsideSection article p:first-of-type {
	font-style: italic;
	font-size: 16px;
	line-height: 18px;
	color: #666666
}
