html{
	width: 960px; 
	font-family: Arvo;
	margin-left: auto;
	margin-right: auto;
}

body{
	width: 960px;
}


/*---------- header ---------*/

#header #topNav ul{
	padding-left: 0px;
}

#header #topNav ul li{ 
	font-size: 9pt;
	color: #cccccc;
	list-style-type: none;
	display: inline;
}
	
#header i{
	color: black;
	font-size: 16px;
}
	
#user{
	float: right;
}

#catNav .active{
	font-weight: bolder;
	text-shadow: 1px 0 #333333;
}


#sections{
	padding-right: 15px;
}
	
#header #title{
	font-size: 36px;
	color: #333333;
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	padding-bottom: 10px;
	text-align: center;
	line-height: 0px;
}

#header #title a{
	text-decoration: none;
	color: #333333;
}

#header #title p:first-of-type {
	text-shadow: 1px 0 #333333;
	font-weight:bold;
}

#header #date{
	vertical-align: text-top;
	font-size: 14px;
	color: #333333;
	font-weight: normal;
}

/*---------- categories -----------*/

.categories{
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	text-align: center;
}

.categories a{
	text-decoration: none;
	color: #333333;
	padding: 0px;
	margin: 0px;
}

.categories ul{
	padding-left: 0px;
	list-style-type: none;
}

.categories li {
	display: inline;
	padding-left: 10px;
	padding-right:10px;
}

/*-------- all articles ---------*/
.article {
	padding: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

/*------------ main -------------*/

.banner {
	background-color: #cccccc;
	padding: 10px;
	margin-bottom: 20px;
	height: 50px;
	-webkit-transition:1s;
	-moz-transition:1s;
	overflow: hidden;
	font-size: 16px;
}

.banner h3 {
	font-size: 19px;
	text-shadow: 1px 0 #333333;
	font-weight:bold;
}

.banner i{
	font-size: 15pt;
}

#banner.banner.bannerClicked {
	height: 120px;
}

#cta{
	color: white;
	text-align: right;
	font-size: 12px;
}

#ctaUP{
	color: white;
	text-align: right;
	font-size: 12px;
}

#banner-id {
	height:inherit;
}

#bannerText{
	font-size: 18px;
	color: #333333;
	text-align: center;
	line-height: 0;
	padding-bottom: 20px;
	margin-bottom: 30px;
	font-style: italic;
	font-weight:bolder;
}

/*-------Aside Section -------*/

aside {
	width: 192px;
	float: left;
	margin-right: 5px;
}

aside article p:first-of-type {
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	color: #333333;
	margin: 0px;

	text-shadow: 1px 0 #333333;
	font-weight:bold;
}

aside article:first-of-type {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
}

aside article:first-of-type p:nth-of-type(2){
	padding-bottom: 5px;
}

aside .imagePlace {
	display: none;
}

aside article:first-of-type p:nth-of-type(2) span:first-of-type {
	display: none;
}

aside p:nth-of-type(2) {
	font-size: 12px;
	line-height: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*--------Main Section--------*/

#mainSection{
	width: 384px;
	float: left;
}

.vid {
	background-color: black;
	color: white;
	text-align: center;
	height: 200px;
	width: inherit;
	font-style: normal;
}

.vid p {
	margin: auto;
	line-height: 200px;
}

#mainSection article:nth-of-type(2) p:first-of-type {
	text-shadow: 1px 0 #333333;
	letter-spacing:-.09px;
	margin-top: 5px;
}

#mainSection article:nth-of-type(3) p:first-of-type{
	text-shadow: 1px 0 #333333;
	letter-spacing:-.09px;
	margin-top: 5px;
}

/*#mainSection article:nth-of-type(3) p:first-of-type {
	width: 80%;
}*/

#mainSection article:nth-of-type(3) p:nth-of-type(2) {
	display: inline-block;
	font-size: 10px;
	margin: 0px;
}

#mainSection article:nth-of-type(3) div p {
	background-color: black;
	color: white;
	text-align: center;
	height: 70px;
	width: 70px;
	top:1px;
	position: relative;
	float: right;
	margin: 0px;
	line-height: 70px;
	font-size: 10px;

}

#mainSection .imagePlace p{
	margin-left: 0px;
}

#mainSection article:nth-of-type(3) p:nth-of-type(2) {
	display: none;
}

#mainSection article:nth-of-type(3) p:nth-of-type(3) {
	margin-top: 5px;
	font-size: 10px;
}

/*--- test article first paragraph ---*/

#mainSection article p:first-of-type{
	font-style: italic;
	margin-bottom: 0px;
	font-size: 16px;

}

#mainSection article p span:first-of-type {
	font-weight: bold;
	padding-right: 5px;
	font-size: 10px;
}

#mainSection article p:nth-of-type(2) {
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px; 
}

.vid {
	font-style: normal;
}

/*------ Opinions -----*/
#rightSection{
	width: 384px;
	float: right;
	margin-right: -10px;
}

#OP_title {
	font-style: italic;
	font-size: 16px;
	color: #333333;
	text-align: center;
	margin: 0px;
}

.artLocation {
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 1px 0 #333333;
	font-size: 12px;
	padding-right: 5px;
}

#opinion .imagePlace {
	background-color: black;
	color: white;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

#rightSection article:first-of-type {
	width: 50%;
	float:left;
	padding-top: 10px;
	font-size: 10px;
}

#rightSection article:nth-of-type(2) {
	float: right;
	width: 47%;
	padding-top: 10px;
	font-size: 10px;
}

#rightSection span {
	font-weight: bold;
	font-size: 10px;
	color: #333333;
}

#rightSection article p:first-of-type {
	font-style: italic;
	margin:0px;
	font-size: 12px;
}

#rightSection article p:nth-of-type(2){
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 10px;
}

#rightSection article p:nth-of-type(3) {
	display: none;
}

#rightSection span:first-of-type {
	font-weight: bolder;
}

#arrows {
	font-size: 12px;
	color: #cccccc;
	vertical-align: text-bottom;
	display: inline-block;
	margin: 0px;
}

#travelName {
	text-shadow: 1px 0 #333333;
	font-weight:bold;
	font-size: 12px;
	display: inline-block;
	margin: 0px;
	margin-left: -10px;
}

#travel p:first-of-type {
	text-shadow: 1px 0 #333333;
	font-weight:bold;
}

#titleDiv {
	display: inline-block;
	padding-left: 10px;
}

#travel .imagePlace {
	background-color: black;
	color: white;
	text-align: center;
	height: 80px;
	line-height: 80px;
}

#travel .imagePlace:first-of-type {
	background-color: black;
	color: white;
	text-align: center;
	height: 80px;
	line-height: 80px;
	margin-bottom: 10px;
	margin-top: 5px;
}

#travel article:nth-of-type(2) .imagePlace {
	background-color: black;
	color: white;
	text-align: center;
	height: 35px;
	line-height: 35px;
}

/*-------test button-------*/

#banner a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: white;
}

/*----------- Content Page -------------*/

#categoryMainSection{
	width: 60%;
	border-right: 1px solid #cccccc;
	float: left;
}

#categoryMainSection ul{
	padding-left: 0px;
}

#categoryMainSection article{
	font-size: 13px;
	line-height: 15px;
	color: #333333;
	padding-right: 20px;
}

#categoryMainSection article p:first-of-type{
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
	line-height: 28px;
}

#categoryMainSection article .imagePlace p {
	line-height: 275px;
}


#categoryMainSection .imagePlace{
	background-color: black;
	color: white;
	text-align: center;
	height: 275px;
	line-height: 275px;
}

#categoryAsideSection ul{
	padding-left: 20px;
}

#categoryAsideSection{
	float: left;
	width: 39%;
}

#categoryAsideSection .imagePlace{
	background-color: black;
	color: white;
	text-align: center;
	height: 100px;
	line-height: 100px;
}

#categoryAsideSection article{
	font-size: 12px;
	line-height: 15px;
	color: #666666;
}

#categoryAsideSection article p:first-of-type {
	font-style: italic;
	font-size: 16px;
	line-height: 18px;
	color: #666666
}

#categoryAsideSection article .imagePlace p {
	line-height: 100px;
	color: white;
}